*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Bebas";
    src: url("./Fonts/bebasneue-regular-webfont.woff") format("woff"),
    url("./Fonts/bebasneue-regular-webfont.woff2") format("woff2");
    }
li{
    list-style-type: none;
}
a:visited,a:active,a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: Bebas;
    max-width: 100vw;
    overflow-x: hidden;
}
.carousel-item{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
}

#header,#body,#footer{
    width: 100vw;
}
#header{
    background: #18181b;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e4e4e7;
}
#header a{
    margin-left: 50px;
}
#header ul{
    margin: 50px;
    font-size: 1.5rem;
}
#body{
    min-height: 80vh;
    background: #a3a3a3;
    overflow: hidden;
}
#body #head{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
#head #carousel{
    width: 100%;
}
#body #part2 .header{
    background: #312e81;
    color: #e4e4e7;
    text-align: center;
    font-size: 2.4em;
    display:flex;
    flex-direction:column;
}
#body #part3 .header{
    background: #db2777;
    color: #e4e4e7;
    text-align: center;
    font-size: 2.4em;
    display:flex;
    flex-direction:column;
}
ul.display{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    justify-content: space-around;
}
ul.display .item{
    aspect-ratio: 1/1;
}
#raya{
    height: 20px;
    width: 100vw;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,150,96,1) 35%, rgba(0,212,255,1) 100%);
}
#footer{
    background: #f4f4f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.politicas{
    display: flex;
    flex-direction: column;
}
#footer .politicas .item{
    color: #64748b;
    font-size: 0.8em;

}
#footer #mexico{
    width: 100px;
}