*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Bebas";
    src: url("./Fonts/bebasneue-regular-webfont.woff") format("woff"),
    url("./Fonts/bebasneue-regular-webfont.woff2") format("woff2");
    }
li{
    list-style-type: none;
}
a:visited,a:active,a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: Bebas;
}
.carousel-item{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
}

#header,#body,#footer{
    width: 100vw;
}
#header{
    background: #18181b;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e4e4e7;
}
#header a{
    margin-left: 50px;
}
#header ul{
    margin: 50px;
    font-size: 1.5rem;
}
#body{
    min-height: 80vh;
    background: #a3a3a3;
    overflow: hidden;
}
#body #head{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
#head #carousel{
    width: 100%;

}
#ofertas{
    text-align: center;
}

#footer{
    color: #f4f4f5;
}